* {
    padding: 0px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    padding: 1.5rem;
    padding: 2rem;
    border-bottom:  5px solid red;
}

.container {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    color: white;
}

.container li {
    display: inline;
    padding: 20px;
}

.container .navbar-item a {
    font-size:  18px;
    color: white;
    text-decoration: none; 
}

.container .navbar-item a:hover{
    text-decoration: underline;
}

/* Main Section */

#main {
    height: 92vh;
    background: linear-gradient(rgba(129, 45, 45, 0.7), rgba(0, 0, 0, 0.6)), url("/resim1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('banner.jpg');
}

#main .container1 h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 300px;
}

#main .container1 p {
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.li {
    color: white;
    text-decoration: underline;
}
